h4{
    text-align: center;
}
main{
    height: 40vh;
    width: 40vw;
    padding: 2%;
    margin: 0;
}
header{
    margin:0;
    padding: 0;
}
input{
    margin: 1%;
    height: 20%;
    width: 20%;
    padding: 2%;
    font-size: 1.2rem;
}
body{
    background-color: 	#cd853f;
    font-size: 2rem;
}
button{
    height: 35%;
    width: 35%;
    font-size: 0.3em;
    padding-right: 3%;
    font-size: 1rem;
    padding-left: 1%;
}
#main-div{
    float: left;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 30vh;
}
#second-div{
   padding-left: 65%;
}
.btn-parent{
    font-size: 20px;
    width: min(40vw,400px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.btn{
    font-size: 1.2em;
    height: fit-content;
    text-align: center;
    margin: 10px;
}